<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8"/>
<title>Aluguéis</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<main>
    <h1>Listagem de Aluguéis</h1>
    <div>
        <nobr>
            <a th:href="@{/aluguel/add}">Novo Aluguel</a>
        </nobr>
    </div>
    <br/>
    <div>
<!--        <div class="container">-->
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Veículo</th>
                    <th>Cliente</th>
                    <th>Data Locação</th>
                    <th>Data Devolucação</th>
                </tr>
                <tr th:each ="aluguel : ${alugueis}">
                    <td th:utext="${aluguel.id}">...</td>
                    <td th:utext="${aluguel.veiculo}">...</td>
                    <td th:utext="${aluguel.cliente}">...</td>
                    <td th:utext="${aluguel.dataLocacao}">...</td>
                    <td th:utext="${aluguel.dataDevolucao}">...</td>
                    <td><a class="btn btn-primary btn-sm" th:href="@{/aluguel/{aluguelId}/edit(aluguelId=${aluguel.id})}">Editar</a></td>
                    <td><a class="btn btn-danger btn-sm" th:href="@{/aluguel/{aluguelId}/delete(aluguelId=${aluguel.id})}">Remover</a></td>
                </tr>
            </table>
        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="components/paginacao :: paging(1, '<<', 'First Page')"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="components/paginacao :: paging(${currentPage - 1}, 'Anterior', 'Página Anterior')"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="components/paginacao :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="components/paginacao :: paging(${currentPage + 1},'Próximo', 'Próxima Pagina')"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="components/paginacao :: paging(${totalPages}, '>>', 'Last Page')"></a>
                </li>
            </ul>
        </nav>
        <a th:href="@{/}">Voltar</a>
    </div>
    <br/>
</main>
</body>
</html>